.bg-color{
    background: #ffffff;
}

.menu-item{
    color:#3b3b3b;
    border-bottom: 2px solid transparent;
}

.menu-item:hover{
    border-bottom: 2px solid #f0ad4e;
    /* animation: myAnimation 2s  right ease-out; */
    animation-name: myAnimation;
    animation-duration: 0.5s;
}

.active {
    border: 2px solid #f0ad4e;
    border-radius: 10px;
}

@keyframes myAnimation {
    from {
        box-shadow: 4px 4px 10px #f0ad4e;
    }
    to{
        border-color: #f0ad4e;
    }
}