.bg-color{
    background: #ffffff;
}

.menu-item{
    color:#3b3b3b;
    border-bottom: 2px solid transparent;
    border-radius: 5px;
}

.menu-item:hover{
    border-bottom: 2px solid #f0ad4e;
    /* animation: myAnimation 2s  right ease-out; */
    animation-name: myAnimation;
    animation-duration: 0.9s;
}

.active {
    border: 2px solid #f0ad4e;
    border-radius: 10px;
}

@keyframes myAnimation {
    from {
        border-color: white;
        width: 40%;
    }
    to{
        border-color: #f0ad4e;
        width: 100%;
    }
}